.userBlock {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.userBlock:hover {
    background-color: rgba(236, 236, 234, 0.6);
    transition: 0.13s;
}

.leftBlock {
    width: 150px;

}

.following {

}

.rightBlock {
    display: flex;
    width: 100%;
    padding: 5px;
    color: rgb(224, 159, 38);
    border: solid 2px;

    background-color: rgb(230, 228, 208);
    border-radius: 10px;

}

.userInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color: rgb(72, 52, 245);
}

.userStatus {

}

.userName {

}

.locationBlock {
    margin-left: 20px;
    text-align: right;
    padding: 10px;
}
.avatar {
    width: 60px;
    height: 80px;
    margin-bottom: 6px;
}

.avatar img{
    width: 60px;
    height: 80px;
}

.selectedPage {
    font-weight: 600;
}