.dialogs {
    display: grid;
    margin-top: 10px;

    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    border-right: solid 2px;
    margin: 0 40px 0 20px;
}

.dialog {
}

.messages {
}

.message {
}

.dialogs_items .active {
    color: brown;
}
